page-home {
.header-bg{
      background-color: #488aff;
}
.register-btn .button-md  {
background-color: #42A5F5;
}
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede !important;
}
